<%- include("partials/head.ejs") %>

  <div class="container-profile" style="background-image: url('https://i.postimg.cc/Y21hfX69/fondo.jpg')">
  <a href="/"><img class="icono-back" src="/assets/back-button.png" alt="back" /></a>
  <h1>Profile</h1>
  
  <div class="user-profile">
  <div class="nav-item dropdown text-center">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="icono-back" src="/assets/menu-imp.png" alt="menu" />
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
     
        <p class="title-nav">Hi! <%= name %></p>
        <li><a class="<%= title.includes('Out') ? 'active' : null %>" href="/signout">Sign Out</a></li>
        </li>
    </ul>
</div>
</div>
</div>
<div class="profile-text" style="background-image: url('https://i.postimg.cc/Y21hfX69/fondo.jpg')">
  <div class="title-photo">
    <div class="photo-profile" style="background-image: url('<%= image %>')"></div>
  </div>
  <h2><%= name %></h2>
  <h2><%= lastname %></h2>
</div>
</div>
<div class="profile-center"></div>

<%- include("partials/footer.ejs") %>
